<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - ZIPBUY</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/files/img/Logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/files/css/Home.css">
    <link rel="stylesheet" href="/files/css/CheckOut_Page.css">
</head>
<body>

    
    <div id="Message_Box">
        <div id="Message_Text">No message yet</div>            
    </div>
    
    include Header.pug



    <section class="Sect1">
        <div class="CartT">
            <h1><a href="/cart">Shopping Cart</a></h1>

        </div>


        <div class="cff">
            <h2>1. Address <a href="/profile">(Change address)</a></h2>
            <div id="Addresss">
                <address>
                | !{Address}
                | #{PIN}
                </address>
                
            </div>
            <h2>2. Payment Method </h2>
            <div id="Paymemt_Method">
                <input type="radio" name="4523" class="PayOnline" id="PayOnline1"><label class="PayOnlinea" for="PayOnline1">Pay Online (Net Banking / UPI)</label>
                <br>
                <input type="radio" name="4523" class="PayOnline" id="PayOnline2"><label class="PayOnlinea" for="PayOnline2">Pay on Delivery (POD)</label>
                
            </div>
            <h2>3. Products <a href="/cart">(Go to cart)</a> </h2>
            <div id="Products_LIST">
                <table>
                    <thead>

                        <tr class="Headddd">
                            <th>Product Title</th>
                            <th>Option</th>
                            <th>Price</th>
                        </tr>
                        
                    </thead>
                    <tbody class="Pro_Main_List">
                       |  !{Product}
                    </tbody>
                    <tfoot>
                        <tr class="BOOT">
                            <td colspan="2">Subtotal:</td>
                            <td colspan="1">Rs. #{Grand_TOTAL}</td>
                        </tr>
                    </tfoot>
                </table>

            </div>

            
            <h2>4. Billing </h2>
            <div id="Billing">
                <table>
                    <tbody>

                        <tr>
                            <td class="Left">MRP:</td>
                            <td class="right">Rs. #{MRP}</td>
                        </tr>
                        <tr>
                            <td class="Left">Total discount:</td>
                            <td class="right">- Rs. #{Discount}</td>
                            
                        </tr>
                        <tr>
                            <td class="Left">Delivery Charge:</td>
                            <td class="right" style="color: green;">FREE</td>
                            
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Grand total:</td>
                            <td>Rs. #{Grand_TOTAL}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div id="Final_BTN">
            </div>
        </div>


        <div class="CartList">
            | !{Products}


            <div>
                | !{PROO}
            </div>

        </div>

    </section>
    
    <script src="/files/js/Home.js"></script>
    <script src="/files/js/CheckOut_Page.js"></script>
    <!-- <script src="/files/js/Mobiles.js"></script> -->

</body>
</html>