<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/files/img/Logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/files/css/Home.css">
    <link rel="stylesheet" href="/files/css/Profile_Page.css">
</head>
<body>

    
    <div id="Message_Box">
        <div id="Message_Text">No message yet</div>            
    </div>
    include Header.pug
    <section class="Sectionssds1">


        <main class="mainsd">
            <div class="Heade">
                <h1>Profile</h1>
                <div class="BOXXX">
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td>#{Name}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>#{Email}</td>
                        </tr>
                        <tr>
                            <td>Mobile Number:</td>
                            <td>+91 #{Mob}</td>
                        </tr>
                        <tr>
                            <td>PIN</td>
                            <td style=" width: 100px; display: flex; flex-direction: column;">
                                <input value="#{PIN}" type="text" maxlength="6" placeholder="Enter Pin" style="width: 100px; outline: none; padding: 6px 10px;" id="PIN" >
                            </td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td id="DDD" style="display: flex; flex-direction: column;">
                                <textarea value="" placeholder="" id="Address" style="font-family: Arial, Helvetica, sans-serif;" cols="30" rows="8">#{Assd}</textarea>
                                <button onclick="Address_Btn();" id="Address_Btn">Update</button>
                            </td>
                        </tr>
                    </table>
                    <center><a href="/logout">Logout</a></center>
                </div>
            </div>
            
        </main>


    </section>

    include Footer.pug
    <script src="/files/js/Profile_Page.js"></script>
</body>
</html>